@charset "UTF-8";

@font-face {
    font-family: 'campus';
    src: url(../fonts/campus/CAMPUS\ PERSONAL\ USE.ttf) 
    format(truetype);
}

@font-face {
    font-family: 'elegant type';
    src: url(../fonts/elegant_typewriter/ELEGANT\ TYPEWRITER\ Regular.ttf) url(../fonts/elegant_typewriter/ELEGANT\ TYPEWRITER\ Bold.ttf) 
    format(truetype);
}

@font-face {
    font-family: 'nexarust';
    src: url(../fonts/nexa_rust/NexaRustSans-Trial-Black2.ttf) 
    format(truetype);
}

@font-face {
    font-family: 'magical';
    src: url(../fonts/magical_night_3/Magical\ Night.ttf) 
    format(truetype);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-005);
    font: bold;
}


:root {
    --color-001: #000000;
    --color-004: #ffffff;

    --color-005: #1cce1ccd;
    --color-008: #ff0000;
    --color-009: #008000;

    --color-010: #a69a90;
    --color-011: #4a403d;
    --color-012: #fff1c1;
    --color-013: #facf7d;
    --color-014: #ea804c;

    --font-001: 'elegant type';
    --font-002: 'campus';
    --font-003: 'nexarust'; /* title*/
    --font-004: 'magical';
    --font-005: Arial, Helvetica, sans-serif;
}


body {
    background-color: var(--color-012);

}


.header {
    background-image: url(../assets/Wallpaper01.jpeg);
    background-attachment: fixed;
    background-position: left bottom;
    background-size: cover;
    width: 100%;
    height: 360px;
    padding: 20px;  

}


.header > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.img {
    margin-top: 1.5rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.title {
    font-family: var(--font-003);
    font-size: 2.875em;
    line-height: 2.25em;
    margin-top: 0.5rem 0;
    color: var(--color-004);
    
}


@media only screen and (max-width: 475px) {
    .title {
      font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
      line-height: 1.5em; /* Ajuste a altura da linha conforme necessário */
    }
}
  

.address {
    color: var(--color-004);
    font-family: var(--font-003);
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 0.3rem 0;
    

}

.horario {
    color: var(--color-004);
    font-family: var(--font-004);
    font-size: 1rem;
    margin: 0.3rem 0;
}


.horario > span {
    /*background-color: #1cce1ccd;*/
    color: var(--color-004);
    font-family: var(--font-004);
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    display: inline-block;
}


.title-menu {
    font-size: 1.8em;
    line-height: 2em;
    font-family: var(--font-002);
    
    text-align: center;
    margin-top: 2.25rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container {
    display: grid;
    padding: 45px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    font-family: var(--font-005);
}

@media screen and (max-width: 870px) {
    .container {
        grid-template-columns: 1fr; /* Altera para uma única coluna */
    }
}


.product {
    display: flex;
    gap: 2rem;
    background-color: var(--color-013);
    padding: 8px;
    margin: 3px;;
}

    
.item {
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 10px;
        transition: transform .2s;
}

.item:hover {
        transform: scale(1.6);
}

.grid-item {
    width: 100%;
}


.control-btncar {
    display: flex;
    align-items: center;
    text-justify: auto;
    justify-content: space-between;
    margin-top: 0.5rem;
    gap: 1px;
}


.btncar {
    background-color: var(--color-010);
    color: var(--color-004);
    margin-top: 0.1rem;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
}


footer {
    background-color: var(--color-014);
    color: var(--color-002);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0.2rem;
    padding: 12px;
    width: 100%;
    
}


.modal {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}


.modal-content {
    background-color: var(--color-004);
    padding: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    font-family: var(--font-007);
    margin: 5px;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 300px;
    }
}


.modal-content > h2 {
    margin: 0;
    font-family: var(--font-005);
}


#cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    font: bold;
}


#total {
    font:bolder;
    font-size: 0.9em;
    font-family: var(--font-005);
    margin-bottom: 0.2rem;
}


.delivery {
    font:bold;
    font-size: 0.9em;
    font-family: var(--font-005);
    margin-bottom: 0.2rem;
}


#address-delivery {
    padding: 0.5rem;
    width: 100%;
    border-width: 2px;
    margin-top: 3px;
    margin-bottom: 4px;;
    font-size: 0.9rem;
    
}


#address-warn {
    color: var(--color-008);
    font-size: 0.9rem;
    margin-top: 3px;
    display: none;
    font: bold;
    display: none;
    
}


.checkout {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#checkout-btn {
    background-color: var(--color-009);
    color: var(--color-004);
    padding: 5px 10px;
    margin-top: 4px;
    border: none;
    cursor: pointer;

}

#checkout-btn:hover {
    transform: scale(1.1);
}


#close-modal-btn {
    background-color: var(--color-008);
    color: var(--color-004);
    padding: 5px 10px;
    margin-top: 4px;
    border: none;
    cursor: pointer;
}

#close-modal-btn:hover {
    transform: scale(1.1);
}


#cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 0.5em 1em;
    color: var(--color-002);
    background-color: var(--color-014);
    gap: 5px;
    border: none;
    cursor: pointer;
    
}

#cart-btn:hover {
    transform: scale(1.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.item-info {
    flex-grow: 1;
}

.item-name {
    font-weight: bold;
}

.item-quantity,
.item-price {
    font-size: 14px;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    transform: scale(1.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.item-info {
    flex-grow: 1;
}

.item-name {
    font-weight: bold;
}

.item-quantity,
.item-price {
    font-size: 14px;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    transform: scale(1.1);
}






















